.team-boxed {
  color: #f8f8f2;
}

.team-boxed p {
  color: #f8f8f2;
}

.team-boxed .team-people {
  padding: 50px 0;
}

.team-boxed .team-item {
  text-align: center;
}

.team-boxed .team-item .box {
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
}

.team-boxed .team-item .name {
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 8px;
  color: inherit;
}

.team-boxed .team-item .title {
  text-transform: uppercase;
  font-weight: bold;
  color: #f8f8f2;
  letter-spacing: 2px;
  font-size: 13px;
}

.team-boxed .team-item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.team-boxed .team-item img {
  max-width: 160px;
}

.team-boxed .social {
  font-size: 30px;
  color: #f8f8f2;
}

.team-boxed .social a {
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
}

.team-boxed .social a:hover {
  opacity: 1;
}

.team-people-name {
  color: #ff79c6;
  margin-top: 10px;
  min-height: 30px;
}
