[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" ;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-data:before {
  content: "\e906";
}

.icon-julialang-icon .path1:before {
  content: "\e903";
  color: #ffffff;
}

.icon-julialang-icon .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: #ffffff;
}

.icon-julialang-icon .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: #ffffff;
}

.icon-file-sql:before {
  content: "\e900";
}

.icon-javascript:before {
  content: "\e901";
  color: #ffffff;
}

.icon-d3-dot-js:before {
  content: "\e902";
  color: #ffffff;
}

.icon-terminal:before {
  content: "\ea81";
}

.card-text {
  margin-top: 1.5rem;
  font-size: 0.85rem;
}
small {
  font-size: 0.75rem;
}
a {
  text-decoration: none;
}
